\#*
*.pyc
*~
*.swp
*.so
*.bak
build
_build
/euroscipy2010_tutorials/source/advanced_numpy/examples/mandel.c
PythonScientific-simple.pdf
PythonScientific.pdf
*/auto_examples
*/*/auto_examples
*/*/*/auto_examples
advanced/image_processing/examples/face.png
.cache
.pytest_cache
data/test.png
face.png
face.raw
file.mat
fname.png
local_logo.png
mandelbrot.png
output.txt
output2.txt
plot.png
pop.npy
pop2.txt
random_00.png
random_01.png
random_02.png
random_03.png
random_04.png
random_05.png
random_06.png
random_07.png
random_08.png
random_09.png
red_elephant.png
test.png
tiny_elephant.png
workfile
airfares.txt
wages.txt
ScientificPythonLectures-simple.pdf
ScientificPythonLectures.pdf
