Gael Varoquaux <gael.varoquaux@normalesup.org>
Emmanuelle Gouillart <emmanuelle.gouillart@nsup.org> <emmanuelle.gouillart@nsup.org>
Emmanuelle Gouillart <emmanuelle.gouillart@nsup.org> <emma@aleph.(none)>
Emmanuelle Gouillart <emmanuelle.gouillart@nsup.org> <gouillar@epsilon.(none)> 
Emmanuelle Gouillart <emmanuelle.gouillart@nsup.org> <emma@glass.home>
Emmanuelle Gouillart <emmanuelle.gouillart@nsup.org> <emmanuelle.gouillart@normalesup.org>
Gert-Ludwig Ingold <gert.ingold@physik.uni-augsburg.de> <gert@teide.physik.uni-augsburg.de>
Lars Buitinck <L.J.Buitinck@uva.nl> <larsmans@gmail.com>
Maximilien Riehl <max@riehl.io> <maximilien.riehl@gmail.com>

