# Install pre-commit hooks via
# pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # frozen: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: 787fb9f542b140ba0b2aced38e6a3e68021647a3 # frozen: v3.5.3
    hooks:
      - id: prettier
        files: \.(md|rst|yml|yaml)
        args: [--prose-wrap=preserve]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: 1ac5158c1b0f405350517c218f03d3a21bbb381c # frozen: v0.16.6
    hooks:
      - id: cython-lint
        args: [--no-pycodestyle, --max-line-length=88]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 25a8c8da6c24a3b9a1a536e2674683dd0eead5d6 # frozen: v0.11.2
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes", "--exit-non-zero-on-fix"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "f40886d54c729f533f864ed6ce584e920feb0af7" # frozen: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-aiofiles
          - types-requests
          - pandas-stubs
          - types-pillow
          - matplotlib
        exclude: |
          (?x)(
            ^build/
            | ^pyximages/
            | conf\.py$
            | .*/setup.*\.py$
            | .*/demo.py$
            | .*/auto_examples/
            | advanced/mathematical_optimization/examples/plot_gradient_descent\.py$
            | advanced/mathematical_optimization/examples/helper/compare_optimizers\.py$
            | advanced/advanced_numpy/examples/view-colors\.py$
            | advanced/advanced_numpy/examples/stride-diagonals\.py$
            | advanced/interfacing_with_c/cython_numpy/test_cos_doubles\.py$
            | advanced/interfacing_with_c/numpy_shared/test_cos_doubles\.py$
            | advanced/interfacing_with_c/swig.*\.py$
            | advanced/advanced_numpy/examples/myobject_test\.py$
            | advanced/interfacing_with_c/numpy_shared/test_cos_doubles\.py$
            | advanced/interfacing_with_c/numpy_c_api/test_cos_module_np\.py$
            | intro/numpy/solutions/2_a_call_fortran\.py$
            | advanced/advanced_numpy/examples/mandelplot\.py$
            | intro/numpy/solutions/2_5_markov_chain\.py$
            | intro/matplotlib/examples/plot_bar\.py$
          )

  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac # frozen: v2.4.1
    hooks:
      - id: codespell
        args: ["-w", "-L", "ans,nd,sav,mke,ags,mot,coo,whos,manuel"]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: 3a6eb0fadf60b3cccfd80bad9dbb6fae7e47b316 # frozen: v1.10.0
    hooks:
      #      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
