language: python

notifications:
  email: false

env:
  matrix:
    # Ubuntu 14.04 versions
    - PYTHON_VERSION="2.7"
    - PYTHON_VERSION="3.5"
  global:
    - DISTRIB="conda"
      NUMPY_VERSION="1.11" SCIPY_VERSION="0.19"
      SCIKIT_LEARN_VERSION="0.18" MATPLOTLIB_VERSION="1.5"
      SCIKIT_IMAGE_VERSION="0.12" SYMPY_VERSION="1.0"
      STATSMODELS_VERSION="0.6" SEABORN_VERSION="0.7"
      PANDAS_VERSION="0.18"

install:
    - source build_tools/install.sh

before_script:
    - make clean

script:
    - python build_tools/show-python-packages-versions.py
    - make test
