numpy==1.25.2
scipy==1.11.1
matplotlib==3.7.2
pandas==2.0.3
scikit-learn==1.3.0
scikit-image==0.21.0
sympy==1.12
statsmodels==0.14.0
seaborn==0.12.2
pytest>=7.1
sphinx>=7
sphinx-gallery>=0.13
sphinx-copybutton
coverage>=6.4
Pillow
imageio>=2.22
pooch
ipython
pre-commit==3.3.3
requests
sphinxcontrib-jquery
