numpy==2.0.0
scipy==1.14.0
matplotlib==3.9.1
pandas==2.2.2
patsy==0.5.6
pyarrow==16.1.0
scikit-learn==1.5.1
scikit-image==0.24.0
sympy==1.13.0
statsmodels==0.14.2
seaborn==0.13.2
pytest>=8.2
sphinx>=7.3
sphinx-gallery>=0.16
sphinx-copybutton
coverage>=7.5
Pillow
pooch
ipython
pickleshare
pre-commit==3.7.1
requests
sphinxcontrib-jquery
