version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.8

    steps:
      - checkout

      - run:
          name: Update apt-get
          command: sudo apt-get update

      - run:
          name: Install TeX
          command: sudo apt-get install dvipng texlive-latex-base texlive-latex-extra

      - restore_cache:
          keys:
            - pip-cache-v1

      - run:
          name: Install Python dependencies
          command: |
            python3 -m venv ~/venv
            source ~/venv/bin/activate
            pip install -U pip
            pip install -r requirements.txt
            pip list

      - save_cache:
          key: pip-cache-v1
          paths:
            - ~/.cache/pip

      - run:
          name: Build docs
          command: |
            # NOTE: bad interaction w/ blas multithreading on circleci
            export OMP_NUM_THREADS=1
            source ~/venv/bin/activate
            make html  # FIX: check that failing examples produce failure

      - store_artifacts:
          path: build/html
