div.bodywrapper blockquote {
    margin: 0 ;
}

div.toctree-wrapper ul {
    margin: 0 ;
    padding-left: 0px ;
}

div.tune li, div.tune ul {
    transition-duration: 0.2s;
}

div.tune li.toctree-l1 {
    padding: 5px 0 0;
    list-style-type: none;
    font-size: 150% ;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    font-weight: normal;
    color: #20435c;
    margin-left: 0;
    margin-bottom: 1.2em;
    font-weight: bold;
    }

div.tune li.toctree-l1 a {
    padding: 0 0 0 10px ;
    color: #314F64 ;
}

div.tune li.toctree-l2 {
    padding: 0.25em 0 0.25em 0 ;
    list-style-type: none;
    background-color: #FFFFFF;
    font-size: 85% ;
    font-weight: normal;
}

div.tune li.toctree-l2 ul {
    padding-left: 40px ;
}


div.tune li.toctree-l2:before {
    content: attr(data-content) ;
    font-size: 85% ;
    color: #777 ;
    display: inline-block;
    width: 10px;
}

div.tune li.toctree-l3 {
    font-size: 75% ;
    list-style-type: square;
    font-weight: normal;
}

div.tune li.toctree-l4 {
    font-size: 85% ;
    list-style-type: circle;
    font-weight: normal;
}

div.preface li.toctree-l1 {
    font-weight: bold;
    background-color: transparent;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 10px;
    display: inline;
}

div.preface li.toctree-l2 {
    background-color: transparent;
    margin-bottom: 0;
    margin-left: 1.5em;
    display: inline;
}

div.sidebar {
    width: 25ex ;
}

@media only screen and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 2.5), (max-width: 70ex) {
    div.sidebar {
        width: 79%;
        padding-left: 5%;
        font-size: 80%;
        margin-left: auto;
        margin-right: 1px;
    }
}

@media (max-width: 1324px) {
    div.sphinxsidebar {
        display: none;
    }
}
