body {
  font-size: 110%;
  line-height: 1.45;
  color: #333332;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0 0;
  font-family: sans-serif;
}

div.body {
  color: #333332;
}

div.body li {
   line-height: 1.45;
}

div.body p {
   line-height: 1.45;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
}
