name: circleci

on: [status]
jobs:
  documentation:
    runs-on: ubuntu-latest
    name: Run CircleCI documentation artifact redirector
    steps:
      - name: GitHub Action step
        uses: scientific-python/circleci-artifacts-redirector-action@839631420e45a08af893032e5a5e8843bf47e8ff # v1.2.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          api-token: ${{ secrets.CIRCLECI_TOKEN }}
          artifact-path: 0/build/html/index.html
          circleci-jobs: build
