name: circleci

on: [status]
jobs:
  documentation:
    runs-on: ubuntu-latest
    name: Run CircleCI documentation artifact redirector
    steps:
      - name: GitHub Action step
        uses: scientific-python/circleci-artifacts-redirector-action@5d358ff96e96429a5c64a969bb4a574555439f4f # v1.3.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          api-token: ${{ secrets.CIRCLECI_TOKEN }}
          artifact-path: 0/_build/html/index.html
          circleci-jobs: build
          job-title: "--> docs preview <--"
