on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install TeX
        run: |
          sudo apt update
          sudo apt install -y \
            dvipng \
            latexmk \
            texlive-latex-extra \
            texlive-fonts-extra \
            texlive-extra-utils

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install -r build_requirements.txt

      - name: "Build HTML"
        run: |
          make html
          echo -n 'lectures.scientific-python.org' > _build/html/CNAME
          touch _build/html/.nojekyll

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          # external_repository: scipy-lectures/lectures.scientific-python.org
          publish_branch: gh-pages
          publish_dir: ./_build/html
          force_orphan: true
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
